service: modular-backend

frameworkVersion: '4'


provider:
  name: aws
  runtime: nodejs18.x
  region: ap-south-1
  stage: dev

  environment:
    DB_HOST: ${env:DB_HOST}
    DB_NAME: ${env:DB_NAME}
    DB_USER: ${env:DB_USER}
    DB_PASSWORD: ${env:DB_PASSWORD}
    DB_PORT: ${env:DB_PORT}
    NODE_ENV: production

  # Optional: VPC for PostgreSQL (if using RDS)
  # Remove if not needed 
  vpc:
    securityGroupIds:
      - sg-040eeb1294d0e1de4
    subnetIds:
      - subnet-02e28cef0ad489c17
      - subnet-05e6a358f058df6a5
      - subnet-03dac04f9ba69dad3

package:
  individually: true

functions:
  createUser:
    handler: src/modules/user/user.handler.createUser
    events:
      - httpApi:
          path: /users
          method: post

  getUser:
    handler: src/modules/user/user.handler.getUser
    events:
      - httpApi:
          path: /users/{id}
          method: get

  createOrder:
    handler: src/modules/order/order.handler.createOrder
    events:
      - httpApi:
          path: /orders
          method: post

  getOrder:
    handler: src/modules/order/order.handler.getOrder
    events:
      - httpApi:
          path: /orders/{id}
          method: get

  getOrdersByUser:
    handler: src/modules/order/order.handler.getOrdersByUser
    events:
      - httpApi:
          path: /users/{userId}/orders
          method: get

# build:
#   esbuild:
#     bundle: true
#     minify: false
#     sourcemap: true
#     target: node18
#     platform: node
#     typescript: true
#     exclude: ['aws-sdk']

custom:
  esbuild:
    bundle: true
    sourcemap: true
    target: node18
    platform: node
    concurrency: 10
